<h1>Word Counter</h1>
<h3>This program shows how frequently a word appears in a sentence</h3>

<form action="/result" method="post">
  <input name="sentence" placeholder="Type a sentence">
  <input name="word" placeholder="Type a word">
  <button type="submit" name="button">submit</button>
</form>
